<?xml version="1.0"?>
<launch>
	<arg name="domain_path"		default="$(find ai_planning)/common/domain_2.pddl" />
	<arg name="problem_path"	default="$(find ai_planning)/common/problem_2.pddl" />
	<arg name="robot_name"	 	default="" />

	<rosparam command="load" file="$(find tiago_navigation_icaps20)/config/waypoints.yaml" />

	<!-- Include rosplan -->
	<include file="$(find icaps_ss)/launch/rosplan_full.launch">
		<arg name="domain_path"		 		value="$(arg domain_path)" />
		<arg name="problem_path" 			value="$(arg problem_path)" />
		<arg name="planning_language" 		value="PDDL" />
		<arg name="planner_topic" 			value="planner_output" />
		<arg name="data_path" 				value="/tmp/" />
		<arg name="generated_problem_path"	value="/tmp/gen_problem.pddl" />
		<arg name="dispatcher" 				value="simple" />
		<arg name="planner_command"      	value="timeout 10 $(find rosplan_planning_system)/common/bin/popf DOMAIN PROBLEM" />
		<arg name="planner_interface"    	value="popf_planner_interface" />
	</include>

	<!-- move action interface -->
	<node name="rosplan_interface_move" pkg="icaps_ss" type="rpainterface_move_base" respawn="false" output="screen">
		<param name="knowledge_base"		value="rosplan_knowledge_base" />
		<param name="pddl_action_name"		value="move" />
		<param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch" />
		<param name="action_feedback_topic" value="/rosplan_plan_dispatcher/action_feedback" />
	</node>

	<!-- grasp action interface -->
	<node name="rosplan_interface_grasp" pkg="icaps_ss" type="rpainterface_pick" respawn="false" output="screen">
		<param name="knowledge_base"		value="rosplan_knowledge_base" />
		<param name="pddl_action_name"		value="grasp" />
		<param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch" />
		<param name="action_feedback_topic" value="/rosplan_plan_dispatcher/action_feedback" />
	</node>

	<!-- place action interface -->
	<node name="rosplan_interface_place" pkg="icaps_ss" type="rpainterface_place" respawn="false" output="screen">
		<param name="knowledge_base"		value="rosplan_knowledge_base" />
		<param name="pddl_action_name"		value="place" />
		<param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch" />
		<param name="action_feedback_topic" value="/rosplan_plan_dispatcher/action_feedback" />
	</node>
</launch>